<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"
      defer
    ></script>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Baskerville Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Hotel California</title>
    {{! Icon }}
    <link rel="icon" href="/imgs/hotel-title.png" />
  </head>

  <style>
    body { background-image: url("/imgs/hotel-search-bg.jpg"); background-size:
    cover; background-repeat: no-repeat; background-position: center; }
  </style>

  <body>

    <div class="container-fluid m-0 p-0">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
          <!-- Company name and logo -->
          <a class="navbar-brand" href="/">
            <img
              src="/imgs/hotel-logo.png"
              alt="Hotel California"
              height="60"
            />
          </a>

          <!-- Hamburger Btn -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarToggler"
            aria-controls="navbarToggler"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Navbar Btns -->
          <div
            class="collapse navbar-collapse d-flex justify-content-end"
            id="navbarToggler"
          >
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/reservations">Manage Reservations</a>
              </li>
              <li class="nav-item">
                {{#if session.email}}
                  <a class="nav-link" href="/logout">Logout</a>
                {{else}}
                  <a class="nav-link" href="/register">Join</a>
                {{/if}}
              </li>
            </ul>
          </div>
        </div>
      </nav>
      {{{body}}}

      <footer
        class="text-white text-center text-lg-start"
        style="background-color: #23242a;"
      >
        <!-- Grid container -->
        <div class="container p-4">
          <!--Grid row-->
          <div class="row mt-4">
            <!--About Us-->
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-4">Who We Are</h5>

              <p>
                Hotel California offers a luxurious guest experience with
                exceptional service, elegant accommodations, and world-class
                amenities. We create a welcoming environment that inspires
                relaxation and well-being. Our goal is to create unforgettable
                memories for every guest, leaving them feeling pampered,
                satisfied, and eager to return.
              </p>

              <div class="mt-4">
                <!-- TikTok -->
                <a type="button" class="btn btn-floating btn-warning btn-lg"><i
                    class="fab fa-tiktok"
                  ></i>
                </a>
                <!-- Twitter -->
                <a type="button" class="btn btn-floating btn-warning btn-lg"><i
                    class="fab fa-twitter"
                  ></i>
                </a>
                <!-- Instagram -->
                <a type="button" class="btn btn-floating btn-warning btn-lg"><i
                    class="fab fa-instagram"
                  ></i>
                </a>
                <!-- Facebook -->
                <a type="button" class="btn btn-floating btn-warning btn-lg"><i
                    class="fab fa-facebook-f"
                  ></i>
                </a>
                <!-- Pinterest -->
                <a type="button" class="btn btn-floating btn-warning btn-lg"><i
                    class="fab fa-pinterest"
                  ></i>
                </a>
              </div>
            </div>

            <!--Contact Us-->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-4">Get in Touch</h5>

              <ul class="fa-ul" style="margin-left: 1.65em;">
                <li class="mb-3">
                  <span class="fa-li"><i class="fas fa-home"></i></span><span
                    class="ms-2"
                  >922 Sunset Boulevard, Beverly Hills</span>
                </li>
                <li class="mb-3">
                  <span class="fa-li"><i
                      class="fas fa-envelope"
                    ></i></span><span class="ms-2">california@hotel.com</span>
                </li>
                <li class="mb-3">
                  <span class="fa-li"><i class="fas fa-phone"></i></span><span
                    class="ms-2"
                  >+ 01 310 934 7662</span>
                </li>
              </ul>
            </div>

            <!--Opening Hours-->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-4">Opening hours</h5>

              <table class="table text-center text-white">
                <tbody class="font-weight-normal">
                  <tr>
                    <td>Mon - Thu:</td>
                    <td>8am - 9pm</td>
                  </tr>
                  <tr>
                    <td>Fri - Sat:</td>
                    <td>8am - 1am</td>
                  </tr>
                  <tr>
                    <td>Sunday:</td>
                    <td>9am - 10pm</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Copyright -->
        <div
          class="text-center p-3"
          style="background-color: rgba(0, 0, 0, 0.2);"
        >
          © 2023 Copyright:
          <a class="text-white" href="/">Hotel California, Inc</a>
        </div>
      </footer>
    </div>

  </body>

</html>