<div
  class="container d-flex flex-column mt-3"
  id="body-container"
  style="background-color: rgba(0, 0, 0, 0.7); height: calc(95vh - 86px); border-radius: 10px;"
>
  <main>
    {{! About Us }}
    <section>
      <h2>About Us</h2>
      <p class="lead mb-4">
        At Hotel California, we are committed to providing an unparalleled guest
        experience that embodies the essence of luxury and sophistication. Our
        mission is to exceed our guests' expectations by offering exceptional
        service, exquisite accommodations, and world-class amenities in a
        setting of timeless elegance. We strive to create a welcoming
        environment that inspires relaxation, rejuvenation, and a sense of
        well-being. Our guests can escape the stresses of everyday life and
        indulge in the finer things. Our goal is to create memories that will
        last a lifetime, ensuring that every guest leaves feeling pampered,
        satisfied, and eager to return.
      </p>
    </section>

    {{! Our Team }}
    <section>
      <h2>Our Team</h2>
      <p class="lead">Our team of dedicated professionals is committed to
        providing you with the highest standards of service and hospitality.
        From the moment you step into our hotel, you will be greeted with warm
        and friendly smiles, and our team will be on hand to assist you with any
        requests you may have.</p>
      <p class="lead">Our chefs are renowned for their culinary expertise, and
        our bartenders are experts at mixing your favorite drinks. Whether
        you're in the mood for a gourmet meal, a refreshing cocktail, or a quick
        snack, we have something to satisfy every palate.</p>
      <p class="lead">Our housekeeping team is committed to keeping your room
        spotless and comfortable, and our front desk staff is available 24/7 to
        assist you with any questions or concerns you may have. We pride
        ourselves on providing personalized service and attention to detail, so
        you can be sure that your stay with us will be nothing short of
        exceptional.</p>
    </section>

  </main>
  <footer>
    <p>&copy; 2023 California Hotel. All rights reserved.</p>
  </footer>

</div>