{{! Hotel Cali Description }}
<div class="section mb-4">
  <h3>
    <a href="/">
      <img
        src="/imgs/hotel-logo-login.png"
        alt="Hotel California"
        height="80"
      />
    </a>
  </h3>
  {{! <p class="lead">Log In to Begin</p> }}
</div>