<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <!-- Company name and logo -->
    <a class="navbar-brand" href="/">
      <img src="/imgs/hotel.png" alt="Your Company Name" height="30" />
      Hotel California
    </a>

    <!-- Toggler for collapsed navbar -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <!-- Login/Sign up -->
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>