{{! <div class="topnav">
  <a class="active" href="#about">About Us</a>
  <a class="active" href="#contact">Contact</a>
</div> }}

{{! Search for rooms }}
<div class="container" id="body-container">
  {{! Search Form }}
  <section class="search-form-section">
    <form class="search-form m-0" action="/search" method="GET">

      <div class="row mb-2">
        <div class="col-md-12">
          <h5>Explore Our Room Options:</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          {{! Check In Date }}
          <div class="form-group">
            <label for="check-in-date">Check-in date:</label>
            <input
              type="date"
              id="check-in-date"
              class="form-control"
              name="check-in-date"
              required
            />

          </div>
        </div>
        <div class="col-md-4">
          {{! Check Out Date }}
          <div class="form-group">
            <label for="check-out-date">Check-out date:</label>
            <input
              type="date"
              id="check-out-date"
              class="form-control"
              name="check-out-date"
              required
            />
          </div>
        </div>
        <div class="col-md-2">
          {{! Guests Amount }}
          <div class="form-group">
            <label for="num-guests">Guests:</label>
            <input
              type="number"
              id="num-guests"
              class="form-control"
              name="num-guests"
              min="1"
              max="10"
              value="1"
              required
            />
          </div>
        </div>
        <div class="col-md-2 d-flex align-items-center">
          {{! Submit }}
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>

    </form>
  </section>

</div>