<!-- Hero Section Begin -->
<section class="hero-section" id="body-container">
  <div class="my-container">
    <div class="row">
      <div class="col-lg-6">
        <div class="hero-text">
          <h1>Hotel California</h1>
          <p>Indulge in pure luxury and unparalleled sophistication at our
            exquisite hotel.</p>
          <a
            href="/register"
            class="btn btn-primary btn-lg active discover-btn"
            role="button"
            aria-pressed="true"
          >Discover Now</a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
        <div class="booking-form">
          <h3 class="text-center">Explore Our Rooms</h3>
          <form class="m-0" action="/search" method="GET">
            {{! Check In Date }}
            <div class="check-date">
              <label for="date-in">Check In:</label>
              <input
                type="date"
                id="date-in"
                class="date-input m-0 p-3"
                name="check_in_date"
                required
              />
            </div>
            {{! Check Out Date }}
            <div class="check-date">
              <label for="date-out">Check Out:</label>
              <input
                type="date"
                id="date-out"
                class="date-input m-0 p-3"
                name="check_out_date"
                required
              />
            </div>
            {{! Num Guests }}
            <div class="select-option">
              <label for="guest">Guests:</label>
              <select id="guest" name="num_guests">
                <option value="1">1 Adult</option>
                <option value="2">2 Adults</option>
                <option value="3">3 Adults</option>
                <option value="4">4 Adults</option>
                <option value="5">5 Adults</option>
                <option value="6">6 Adults</option>
                <option value="7">7 Adults</option>
                <option value="8">8 Adults</option>
              </select>
            </div>
            {{! Num Rooms }}
            <div class="select-option">
              <label for="room">Room:</label>
              <select id="room" name="num_rooms">
                <option value="1">1 Room</option>
                <option value="2">2 Rooms</option>
                <option value="3">3 Rooms</option>
                <option value="4">4 Rooms</option>
                <option value="5">5 Rooms</option>
              </select>
            </div>
            <button type="submit">Check Availability</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="owl-carousel hero-slider">
    <div><img src="imgs/hero1.jpg" /></div>
    <div><img src="imgs/hero2.jpg" /></div>
    <div><img src="imgs/hero3.jpg" /></div>
  </div>
</section>
<!-- Hero Section End -->