{{#if loginFailure}}
  <script>
    toastr.error("Error logging in. Please try again. 😔");
  </script>
{{/if}}

{{! Hotel Cali Description }}
<div class="section mb-4">
  <h3>
    <a href="/">
      <img
        src="/imgs/hotel-logo-login.png"
        alt="Hotel California"
        height="80"
      />
    </a>
  </h3>
  {{! <p class="lead">Log In to Begin</p> }}
</div>

{{! Divider }}
<hr class="hr mb-4 mt-4" />

{{! Login Form }}
<div class="section mb-4">
  {{!-- Error Message (when needed) --}}
  {{#if errMsg}}
    <div class="alert alert-danger" role="alert">
      {{errMsg}}, try again!
    </div>
  {{/if}}

  <form action="/login" method="POST">
    {{! Email }}
    <div class="form-group">
      <label for="InputEmail">Email address</label>
      <input
        type="email"
        class="form-control"
        id="InputEmail"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        name="email"
        required
      />

    </div>

    {{! Password }}
    <div class="form-group">
      <label for="InputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="InputPassword1"
        placeholder="Password"
        name="password"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary w-100">Submit</button>
  </form>
</div>

{{! Footer }}
<footer class="join-footer footer">
  <p class="text-center">
    Don't have an account?
    <a href="/register">Register</a>
  </p>
  {{! Copyright }}
  <p class="text-center">
    &copy; 2023 Hotel California Inc.
  </p>
</footer>