html,
body {
  font-size: 14px;
  height: 100%;
  font-family: "Cabin", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #111111;
  font-weight: 400;
  font-family: "Lora", serif;
}

p {
  font-size: 16px;
  font-family: "Cabin", sans-serif;
  color: #000000;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}

img {
  max-width: 100%;
}

/* Login Styling */
.login-container {
  margin: 0 auto;
  width: 450px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.form-group label {
  text-align: start !important;
  font-weight: bold;
}

.card {
  color: #fff;
  padding: 30px;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: rgba(0, 0, 0, 0.76) 0px 22px 70px 4px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
}

.mt-4 a {
  background-color: #0874dc;
  border: 1px solid #0874dc;
}

.mt-4 a:hover {
  background-color: #055fb5;
  border: 1px solid #055fb5;
}

/* Home Page Styling */
.navbar {
  background-color: #ffffff !important;
}

#body-container {
  height: calc(100vh - 86px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0 auto;
  width: 100vw !important;
  /* overflow: scroll; */
}

.join-footer,
p {
  color: white;
}

.discover-btn {
  background-color: #0874dc;
  border: 1px solid #0874dc;
}

.discover-btn:hover {
  background-color: #024c91;
  border: 1px solid #024c91;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  margin-right: 20px;
}

.nav-link:hover {
  /* Blue underline */
  border-bottom: 2px solid #0874dc;
}

.search-form {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 4px;
}

.homepage-footer {
  width: 100vw;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* Room Reservation Styling */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Some left and right padding inside the my-container */
.my-container {
  padding: 0 16px;
  /* height: 100%;
  width: 65%;
  display: flex;
  align-items: center; */
}

/* Clear floats */
.my-container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: black;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

/* HERO */
.hero-section {
  position: relative;
  /* padding-top: 60px;
  padding-bottom: 100px; */
}
.hero-section .my-container {
  position: relative;
  z-index: 5;
}
.hero-text {
  /* padding-top: 145px; */
}
.hero-text h1 {
  font-size: 80px;
  line-height: 90px;
  color: #ffffff;
  margin-bottom: 16px;
}
.hero-text p {
  font-size: 18px;
  color: #ffffff;
  line-height: 28px;
  margin-bottom: 35px;
}
.booking-form {
  height: auto;
  width: 370px;
  background: #ffffff;
  padding: 25px 40px 30px 40px !important;
  border-radius: 4px;
}
.booking-form h3 {
  color: #19191a;
  margin-bottom: 36px;
}
.booking-form form .check-date {
  position: relative;
  margin-bottom: 15px;
}
.booking-form form .check-date label {
  font-size: 14px;
  color: #707079;
  display: block;
  margin-bottom: 10px;
}
.booking-form form .check-date input {
  width: 100%;
  height: 50px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  font-size: 16px;
  color: #19191a;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 20px;
}
.booking-form form .check-date i {
  color: #0874dc;
  position: absolute;
  right: 18px;
  bottom: 17px;
}
.booking-form form .select-option {
  margin-bottom: 15px;
}
.booking-form form .select-option label {
  font-size: 14px;
  color: #707079;
  display: block;
  margin-bottom: 10px;
}
.booking-form form .select-option .nice-select {
  color: #000;
  border-radius: 2px;
  border: 1px solid #ebebeb;
  height: 50px;
  line-height: 50px;
  outline: none;
  padding-left: 20px;
  width: 100%;
  float: none;
}
.booking-form form .select-option .nice-select:after {
  border-bottom: 2px solid #0874dc;
  border-right: 2px solid #0874dc;
  height: 10px;
  margin-top: 0;
  right: 20px;
  width: 10px;
  top: 36%;
}
.booking-form form .select-option .nice-select span {
  font-size: 16px;
  color: #19191a;
  text-transform: uppercase;
  font-weight: 500;
}
.booking-form form .select-option .nice-select .list {
  margin-top: 0;
  width: 100%;
}
.booking-form form button {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #0874dc;
  border-radius: 2px;
  color: #0874dc;
  font-weight: 500;
  background: transparent;
  width: 100%;
  height: 46px;
  margin-top: 30px;
}
.hero-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.hero-slider.owl-carousel .owl-dots {
  position: absolute;
  left: 0;
  bottom: 23px;
  width: 100%;
  text-align: center;
}
.hero-slider.owl-carousel .owl-dots button {
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: 0.5;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.hero-slider.owl-carousel .owl-dots button.active {
  width: 30px;
  border-radius: 50px;
  opacity: 1;
}
.hero-slider.owl-carousel .owl-dots button:last-child {
  margin-right: 0;
}
.hero-slider .owl-stage-outer,
.hero-slider .owl-stage,
.hero-slider .owl-item,
.hero-slider .hs-item {
  height: 100%;
}

/* temp */
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 2em 8em;
}

.left,
.right {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  border-radius: 5px;
}

.left {
  width: 25%;
  margin-right: 20px;
  height: auto;
}

.right {
  width: 75%;
  overflow-y: scroll;
}

.left p,
.right p {
  color: black;
}

.flex-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.buy-btn {
  float: right;
  background-color: #0874dc !important;
}

.pay-form .form-group label {
  color: rgb(0, 0, 0) !important;
}
